body {
  padding: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size: 14px;
        color: #111;
        }

        p, ul {
          margin-bottom: 10px;
          }

          ul {
            margin-left: 20px;
            }
